[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    raise ValueError
    pass
    raise Exception
    
    # Exclude print statements
    if self.verbose:

    # Exclude abstractmethods
    @(abc\.)?abstractmethod

omit = optson/_version.py
